{% extends "base.html" %}

{% block title %}
BigFitnessGains
{% endblock %}

{% block description %}
Track weightlifting results.
{% endblock %}

{% block content %}

<div class="container">
    <h2>{{ workout.workout_name }}</h2>
    <p>{{ workout.workout_date }}</p>

    {% include "mainapp/subtemplates/workout_set_table.html" %}

    <h4><a name="addworkout">Add Workout</a></h4>
    <form action="{% url 'workout_detail'  workout.id  %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
    </form>

</div>

{% endblock %}
