{% extends "base.html" %}

{% block title %}
BigFitnessGains
{% endblock %}

{% block description %}
Track weightlifting results.
{% endblock %}

{% block content %}

<div class="container">
    <h2>{{ workout.workout_name }}</h2>
    <p>{{ workout.workout_date }}</p>

    {% include "mainapp/subtemplates/workout_set_table.html" %}

    <h4><a name="addworkout">Add Workout</a></h4>
    <form action="{% url 'workout_detail'  workout.id  %}" method="post">
    {% csrf_token %}
    {% comment %}
    <!-- TODO - modify form to include this field (so its easy to retrieve from the javascript -->
    {% endcomment %}
    <input type="hidden" id="id_workout_fk" value={{ workout.id }} />
    {{ form.as_p }}
    <input type="submit" value="FormSubmit (SLOW)»" />
    </form>

    <input type="submit" id="ajaxSubmit" value="AjaxSubmit (FAST)»" /> Warning: Error handling sucks.
    <div class="modal"><!-- Place at bottom of page --></div>
</div>

{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
    // -----------------------------------------------------------------------------
    // Spinner for ajax requests.
    // -----------------------------------------------------------------------------
    // http://stackoverflow.com/questions/1964839/jquery-please-wait-loading-animation
    $body = $("body");
    $(document).on({
        ajaxStart: function() { $body.addClass("loading");    },
         ajaxStop: function() { $body.removeClass("loading"); }
    });

    // -----------------------------------------------------------------------------
    // Ajax POST functionality to work with Django CSRF token
    // -----------------------------------------------------------------------------
    // using jQuery - https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    // -----------------------------------------------------------------------------
    // Ajax POST to REST API
    // -----------------------------------------------------------------------------
    $("#ajaxSubmit").click(function(){

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $.ajax({
            url: "http://127.0.0.1:8000/workout_sets/",
            contentType:"application/json; charset=utf-8",
            dataType: "json",
            // JSON.stringify needed for http://stackoverflow.com/questions/5570747/jquery-posting-json
            data: JSON.stringify({
                "workout_fk": $("#id_workout_fk").val(),
                "exercise_fk": $("#id_exercise_fk").val(),
                "reps": $("#id_reps").val(),
                "weight_lb": $("#id_weight_lb").val(),
                "weight_kg": $("#id_weight_kg").val(),
                    }),
            type: 'POST',

            // http://stackoverflow.com/questions/2833951/how-to-catch-ajax-query-post-error
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(errorThrown);
                alert(errorThrown);
            },
            success: function(resultData) {
                console.log("POST resultData " + resultData),
                $("table tbody").append("<tr>"+
                        "<td>" + "AJAX" + "</td>"+
                        "<td>" + resultData.exercise_fk + "</td>"+
                        "<td>" + resultData.reps + "</td>"+
                        "<td>" + resultData.weight_lb + "</td>"+
                        "<td>" + resultData.weight_kg + "</td>"+
                        "</tr>");
            },
        });
    });

    // UPDATE WorkoutSet
    function updateWorkoutSet(workout_fk, order, exercise_fk, reps, weight, weight_unit, workoutset_id) {

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $.ajax({
            url: "{% url 'workoutset_list'  workout.id  %}" + workoutset_id + "/",
            contentType:"application/json; charset=utf-8",
            dataType: "json",
            // JSON.stringify needed for http://stackoverflow.com/questions/5570747/jquery-posting-json
            data: JSON.stringify({
                "workoutset_id": workoutset_id,
                "exercise_fk": exercise_fk,
                "reps": reps,
                "order": order,
                "weight_0": weight,
                "weight_1": weight_unit,
                    }),
            type: 'PUT',

            // http://stackoverflow.com/questions/2833951/how-to-catch-ajax-query-post-error
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(errorThrown);
                alert(errorThrown);
            },
        });
    }

    // -----------------------------------------------------------------------------
    // Drag and drop functionality for table of workout results.
    // -----------------------------------------------------------------------------
    $( "#sortableTable  > *" ).sortable({
        //
        // We want to persist the ordering defined by the user.
        //

        //
        // All credit for this sorting behavior goes to - http://jsfiddle.net/m2web/y53Lg/
        //
        start: function (event, ui) {
            //Let's set the starting position of an row in the table to ensure the correct row index
            var start_pos = ui.item.index() + 1;
            ui.item.data('start_pos', start_pos);
        },

        change: function (event, ui) {
            //When the item postion is changed while dragging a item, get it's position
            var start_pos = ui.item.data('start_pos');

            //get the direction of the drag motion
            var dragDirection = start_pos < ui.placeholder.index() ? "down" : "up";
            ui.item.data('drag_direction', dragDirection);
        },

        stop: function (event, ui) {
            //get the table where the sorting is happening
            var thisTable = document.getElementById('sortableTable');

            //get the row index of where the dragged row has stopped
            var movedRowIndex = (ui.item.index() + 1);

            //get the page # cell and update the text to the stopped location
            var pageNumberCell = $(thisTable.rows[movedRowIndex].cells[0]);
            pageNumberCell.text((ui.item.index() + 1));

            //get the direction 'up' or 'down' that the record was dragged.
            var drag_direction = ui.item.data('drag_direction');

            // TODO - Remove, just dumping to console for printline debugging
            console.log(
                    {{ workout.id }},
                    $(thisTable.rows[movedRowIndex].cells[0]).text(),
                    $(thisTable.rows[movedRowIndex].cells[2]).text(),
                    $(thisTable.rows[movedRowIndex].cells[3]).text(),
                    $(thisTable.rows[movedRowIndex].cells[4]).text(),
                    $(thisTable.rows[movedRowIndex].cells[5]).text(),
                    $(thisTable.rows[movedRowIndex].cells[6]).text());

            updateWorkoutSet(
                    {{ workout.id }}, // TODO - fix hack for workout id
                    $(thisTable.rows[movedRowIndex].cells[0]).text(),
                    $(thisTable.rows[movedRowIndex].cells[2]).text(),
                    $(thisTable.rows[movedRowIndex].cells[3]).text(),
                    $(thisTable.rows[movedRowIndex].cells[4]).text(),
                    $(thisTable.rows[movedRowIndex].cells[5]).text(),
                    $(thisTable.rows[movedRowIndex].cells[6]).text()
                    )

            // TODO - update each item we dragged.

            //if the record was drageed down the table, update record page#s above
            if (drag_direction == 'down') {
                for (var i = 1; i < thisTable.rows.length; i++) {
                    if (i < movedRowIndex) {
                        $(thisTable.rows[i].cells[0]).text(i);
                        // TODO - FIX THIS JUNK
                        updateWorkoutSet(
                                {{ workout.id }},
                                $(thisTable.rows[i].cells[0]).text(),
                                $(thisTable.rows[i].cells[2]).text(),
                                $(thisTable.rows[i].cells[3]).text(),
                                $(thisTable.rows[i].cells[4]).text(),
                                $(thisTable.rows[i].cells[5]).text(),
                                $(thisTable.rows[i].cells[6]).text()
                                )
                    }
                }
            }

            //if the record was drageed up the table, update record page#s below
            if (drag_direction == 'up') {
                for (var i = 1; i < thisTable.rows.length; i++) {
                    if (i > movedRowIndex) {
                        $(thisTable.rows[i].cells[0]).text(i);
                        // TODO - FIX THIS JUNK
                        updateWorkoutSet(
                                {{ workout.id }},
                                $(thisTable.rows[i].cells[0]).text(),
                                $(thisTable.rows[i].cells[2]).text(),
                                $(thisTable.rows[i].cells[3]).text(),
                                $(thisTable.rows[i].cells[4]).text(),
                                $(thisTable.rows[i].cells[5]).text(),
                                $(thisTable.rows[i].cells[6]).text()
                                )
                    }
                }
            }
        }



    }).disableSelection();

});
</script>

{% endblock %}
