# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Celerybeat scheduler file:
celerybeat-schedule
celeryev.pid

# Settings
bigfitnessgains/settings/common.py
fabfile.py

# Static compression
bigfitnessgains/static/CACHE

# Eclipse project
.project
.pydevproject