{% comment %} <!--

Required:
    workout_sets - list of WorkoutSet objects to be displayed.

--> {% endcomment %}

<div class="table-responsive">
    <table id="sortableTable" class="table table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>Exercise</th>
                <th class="hidden">exercise_fk</th>
                <th>Reps</th>
                <th>Weight</th>
                <th>Unit</th>
                <th class="hidden">workoutset_id</th>
            </tr>
        </thead>
        <tbody id="sortThis">
        {% for workout_set in workout_sets %}
            <tr id="workoutset_{{ workout_set.id }}">
                <td>{{ workout_set.order }}</td>
                <td>{{ workout_set.exercise_fk.exercise_name }}</td>
                <td class="hidden">{{ workout_set.exercise_fk.id }}</td>
                <td>{{ workout_set.reps }}</td>
                <td>{{ workout_set.user_weight_value }}</td>
                <td>{{ workout_set.weight_unit }}</td>
                <td class="hidden">{{ workout_set.id }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
